<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- F-Droid build: no in-app self-updater, so this permission is not needed. -->
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:node="remove" />

    <application>
        <!-- Update prompt activity does not exist in the F-Droid build. -->
        <activity
            android:name=".UpdatePromptActivity"
            tools:node="remove" />
    </application>

</manifest>